* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 100;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8D81AC;
    transition: color 0.3s;
}

.logo-container:hover {
    color: #FFFFFF;
}

.logo-container a {
    margin-left: 55px;
}

.navbar .logo {
    width: 43px;
    height: 41px;
    position: absolute; 
    opacity: 1;
    transition: opacity 0.3s ease; 
}

.navbar .logo-hide {
    width: 43px;
    height: 41px;
    position: absolute; 
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.navbar .links {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
    white-space: nowrap;
    gap: 20px;
    padding: 0 20px;
    flex-shrink: 0;
}

.navbar .links a {
    color: #8D81AC;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar .links a:hover {
    color: white;
}

.navbar .dropdown {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        background-color: #27262A;
    }

    .navbar .button-purple {
        margin-left: 30px;
    }

    .logo-container {
        width: auto;
    }

    .logo-container a {
        display: none;
    }

    .navbar .links {
        display: none; 
    }

    .navbar .dropdown {
        display: flex;
        position: relative;
    }

    .dropdown button {
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 26px;
        height: 26px; 
        cursor: pointer;
        transition: color 0.3s;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 159%;
        align-items: flex-start;
        right: 0;
        background-color: #333333;
        min-width: 180px;
        padding: 10px 20px;
        z-index: 100;
    }

    .dropdown-menu a {
        color: #FFFFFF;
        text-decoration: none;
        padding: 10px 0;
        transition: color 0.3s;
    }

    .dropdown-menu a:hover {
        color: #8D81AC;
    }

    .rectangle {
        height: 3px;
        background: #FFFFFF;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .small {
        width: 15px; 
    }

    .large {
        width: 26px; 
    }

        /* Transformations when hamburger is toggled to 'open' */
    .open {
    background: #FFFFFF; /* Optional: you can change the color when toggled */
    }

    .open:nth-child(1) {
        opacity: 0;
    }

    .open:nth-child(2) {
        transform: rotate(45deg); 
    }

    .open:nth-child(3) { 
        transform: translateY(-12px) rotate(-45deg); 
    }
}

